<div class="container p-2">
  <div class="row">
      <div class="col-2">
          <h5>Sosyal</h5>
          <ul class="nav flex-column">
              <li class="nav-item mb-2" *ngFor='let social of socials'><a [href]="social.url" target="_blank" class="nav-link p-0 text-white">{{social.title}}</a></li>
          </ul>
      </div>

      <div class="col-2">
          <h5><img src="/assets/img/feign.png" class="logo-s" alt="Feign"/>Feign</h5>
          <ul class="nav flex-column">
            <li class="nav-item mb-2" *ngFor='let f of feign'><a [href]="f.url" target="_blank" class="nav-link p-0 text-white">{{f.title}}</a></li>
          </ul>
      </div>

      <div class="col-2">
          <h5><img src="/assets/img/hobs.png" class="logo-s" alt="HOBS"/>HOBS</h5>
          <ul class="nav flex-column">
            <li class="nav-item mb-2" *ngFor='let h of hobs'><a [href]="h.url" target="_blank" class="nav-link p-0 text-white">{{h.title}}</a></li>
          </ul>
      </div>
      <div class="col-2">
          <h5><img src="/assets/img/logo.png" class="logo-s" alt="Studio"/>Studio</h5>
          <ul class="nav flex-column">
            <li class="nav-item mb-2" *ngFor='let s of studio'><a [href]="s.url" target="_blank" class="nav-link p-0 text-white">{{s.title}}</a></li>
          </ul>
      </div>
  </div>

  <div class="d-flex justify-content-between py-4 my-4 border-top">
      <p>© 2023 @makifgokce, Inc. All rights reserved.</p>
  </div>
</div>
