<div class="d-flex">
  <div class="col-10 col-md-10 col-lg-8 mx-auto my-2">
    <div class="card">
      <div class="card-header">
        {{ 'Account' | translate }}
      </div>
      <ul class="list-group list-group-flush">
        <li class="list-group-item">{{'Name' | translate }}: {{name}}</li>
        <li class="list-group-item">{{'Surname' | translate }}: {{surname}}</li>
        <li class="list-group-item">{{'Account' | translate }}: {{account}}</li>
      </ul>
    </div>
  </div>
  <div class="col-10 col-md-10 col-lg-3 mx-auto my-2">
    <div class="d-flex flex-column flex-shrink-0 p-3 text-white bg-dark">
      <ul class="nav nav-pills flex-column mb-auto">
        <li class="nav-item" routerLinkActive="active">
            <a class="nav-link text-white" (click)="navigate('/')">Home</a>
        </li>
        <li class="nav-item" routerLinkActive="active">
            <a class="nav-link text-white" (click)="navigate('/')">Home</a>
        </li>
        <li class="nav-item" routerLinkActive="active">
            <a class="nav-link text-white" (click)="navigate('/')">Home</a>
        </li>
      </ul>
    </div>
  </div>
</div>
